certifi==2019.9.11
chardet==3.0.4
clarifai==2.6.2
Click==7.0
configparser==3.8.1
Flask==1.1.1
future==0.18.2
googleapis-common-protos==1.6.0
grpcio==1.25.0
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.3
jsonschema==2.6.0
MarkupSafe==1.1.1
protobuf==3.15.0
requests==2.22.0
six==1.13.0
urllib3==1.25.6
Werkzeug==0.16.0
