<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/style.css">
    <title>Image Tagger!</title>
</head>
    <body>        
        <h1>Upload an image here!</h1>
        <img src={{ image }}>
        <h1>Your image is tagged...</h1>
        <h6> {{ tags }} </h6>
        <form action="/" method="POST">
            Image link:<br>
            <input type="text" name="img"><br>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>